@model StudentManagement.Models.Student

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class="col-sm-10">
            @(Model.Gender == "Male" ? "男" : Model.Gender == "Female" ? "女" : Model.Gender)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Class)
        </dt>
        <dd class="col-sm-10">
            @{
                string dept = "", year = "", clsSection = "";
                if (!string.IsNullOrEmpty(Model.Class))
                {
                    int firstDigitIndex = -1;
                    for (int i = 0; i < Model.Class.Length; i++)
                    {
                        if (char.IsDigit(Model.Class[i]))
                        {
                            firstDigitIndex = i;
                            break;
                        }
                    }

                    if (firstDigitIndex >= 0)
                    {
                        dept = Model.Class.Substring(0, firstDigitIndex);        // 系所
                        string rest = Model.Class.Substring(firstDigitIndex);
                        year = rest.Substring(0, 1);                             // 年級
                        clsSection = rest.Length > 1 ? rest.Substring(1) : "";   // 班別
                    }
                }
            }
            @($"{dept}系 {year}年級 {clsSection}")
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Model.CreatedAt.ToString("yyyy/MM/dd HH:mm:ss")
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>
        <dd class="col-sm-10">
            @Model.UpdatedAt.ToString("yyyy/MM/dd HH:mm:ss")
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
